@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');


*   {
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
}
body    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card   {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 83%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    overflow: clip;
}
.product    {
    width: 50%;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.description    {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 6%;
}
.category   {
    font-size: 1.2rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}
.perfume-name   {
    font-size: 3.9rem;
    line-height: 3.6rem;
    font-weight: 700;
    font-family: "Fraunces",Serif ;
    color: hsl(212, 21%, 14%);
}
.text   {
    color: hsl(228, 12%, 48%);
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    line-height: 2rem;
}
.price-container    {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9%;
}
.price  {
    color: hsl(158, 36%, 37%);
    font-size: 2.8rem;
    font-weight: 700;
    font-family: "Fraunces",Serif ;
}
.old-price  {
   font-size: 1.1rem;
    text-decoration: line-through;
    color:  hsl(228, 12%, 48%);
}
button  {
    padding: 6% 5%;
    background-color:hsl(158, 36%, 37%) ;
    border-radius:1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    outline: none ;
    border: none;
}
button:hover    {
    background-color: hsl(154, 39%, 25%);
}
@media only screen and (max-width: 375px) {
    *   {
        font-size: 12px;
    }
    article {
        height: 100vh;
    }
    .card   {
        flex-direction: column;
        width: 92%;
        min-height: 90%;
        border: 0.7rem;
    }
    .product    {
        height: 40%;
        width: 100%;
        background-image: url("images/image-product-mobile.jpg");
    }
    .description    {
        width: 100%;
        row-gap: 2.5vh;
        padding: 5%;
        height: 60%;
        box-sizing: border-box;
    }
    .perfume-name   {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    .text   {
        font-size: 1rem;
        line-height: 1.75rem;
    }
    
}